@import "styles/colors.scss";

.dropdown {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  &.expanded {
    .label-with-icon {
      .dropdown-icon {
        transform: rotate(180deg);
        transition: 0.2s ease;
      }
    }
  }

  .label-with-icon {
    display: flex;
    align-items: center;
    .dropdown-icon {
      padding: 0 5px;
      transform: rotate(0);
      transition: 0.2s ease;
    }
  }

  .custom-dropdown-menu {
    position: absolute;
    top: 100%;
    color: white;
    background: #2b3251;
    padding: 15px;
    width: fit-content;
    .dropdown-option {
      color: white;
      text-decoration: none;
      padding: 10px 0;
      text-align: left;
      font-size: 18px;
      &:hover {
        color: $turqoise;
      }
    }
  }
  &:focus {
    outline: none;
  }
  &.relative {
    .custom-dropdown-menu {
      position: relative;
      top: 0;
    }
  }
  &.white-bg {
    .custom-dropdown-menu {
      background: white;
      color: black;
      .dropdown-option {
        color: black;
      }
    }
  }
  &.transparent-bg {
    .custom-dropdown-menu {
      background: transparent;
    }
  }
}
