@import "styles/colors.scss";
@import "styles/variables.scss";
@import "styles/media-mixins.scss";
@import "styles/mixins.scss";

.stories-listing-ctr {
  padding-bottom: 100px;
  .stories-listing {
    display: flex;
    flex-wrap: wrap;
  }
  .story-anchor {
    align-self: center;
    flex: 0 0 25%;
    @include for-midscreen() {
      flex: 0 0 33%;
    }
    @include for-screen-size-range($tablet-min-width, $smallscreen-max-width) {
      flex: 0 0 50%;
    }
    @include for-mobile() {
      flex: 0 0 100%;
    }
    .story-card,
    .category-card {
      margin: 0px 7px 14px 7px;
    }
  }
  @include for-mobile-and-tablet() {
    .stories-listing {
      padding: 0 15px;
    }
  }
}
