@import "styles/colors.scss";

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px;
  .social-icon-link {
    color: white;
    margin-left: 10px;
    img {
      height: 41px;
      width: 41px;
    }
    &:hover {
      &.linked-in {
        color: #0077b5 !important;
      }
      &.facebook {
        color: #3b5998 !important;
      }
      &.youtube {
        color: #ff0000 !important;
      }
      &.medium {
        color: #00ab6c !important;
      }
      &.twitter {
        color: #1da1f2 !important;
      }
      &.github {
        color: #6e5494 !important;
      }
    }
  }
  @include for-mobile() {
    .social-icon-link {
      img {
        height: 26px;
        width: 26px;
      }
    }
  }
  &.light-themed {
    .social-icon-link {
      color: $bgBlue;
    }
  }
}
