@import "styles/colors.scss";
@import "styles/variables.scss";

.light-theme-button {
  display: inline-flex;
  align-items: center;
  color: $yellow;
  border: 2px solid;
  padding: 5px 20px;
  border-radius: 40px;
  border-color: $yellow;
  font-family: $contentFontFamily;
  font-weight: bold;
  font-size: clamp(22px, 1.5vw, 26px);

  .right-arrow {
    margin-left: 5px;
  }
  &:hover {
    color: white;
    background: $yellow;
  }
}
