@import "styles/colors.scss";
@import "styles/media-mixins.scss";
.scroll-to-top {
  position: fixed;
  right: 60px;
  bottom: 20px;
  cursor: pointer;
  z-index: 100;
  color: $orange;
  svg {
    transform: scale(0.8);
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(0.7);
    }
  }
  @include for-mobile() {
    display: none;
  }
}
