@import "styles/colors.scss";
@import "styles/variables.scss";
@import "styles/mixins.scss";

.category-card {
  padding: 35px;
  box-sizing: border-box;
  display: flex;
  color: $darkGray;
  align-items: center;
  .title {
    font-family: $headerFontFamily;
    line-height: 1.1em;
    font-weight: 600;
  }
}
